.catalog {
  display: grid;
  justify-content: center;
  gap: 48px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $height-card;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform $time, color $time;

    &:hover {
      transform: scale(1.2);
      color: $color-hover-catalog;
    }
  }

  @each $min, $max, $number in $screens {
    @media (min-width: #{$min}) and (max-width: #{$max}) {
      & {
        grid-template-columns: repeat(#{$number}, $width-card);
      }
    }
  }
}
